/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
div.row {
   background:white;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
}

p {
	color: #181818;
}

@media screen and (min-width: 981px) {
  body {
     background-image:url('../img/bg.jpg');
     background-attachment:fixed;
  }
  div.row p, H1, H1, H3, H4, ul {
    padding-left: 10px;
  }
  div.row {
  	-moz-box-shadow: -10px 10px 5px #888;
	-webkit-box-shadow: -10px 10px 5px #888;
	box-shadow: -10px 10px 5px #888;
  }
}

#titleBar {
  background: #222222;
  border-bottom: solid 4px #00a5ff;
  padding: 15px 20px 13px 20px; }
#titleBar h5 {
  color: #fff; font-weight: bold; }

#footerBar {
  background: #222222;
  border-top: solid 4px #00a5ff;
  padding: 15px 20px 1px 20px; }
#footerBar p {
  color: #fff;}

#copyleft {
	transform:rotate(180deg);-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);-o-transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2); display: inline-block;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


